<!DOCTYPE html>
<html>
  <head>
    <title>Take You Down to the Paradise City!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{Rails.application.credentials.google_maps_api_key}"%>
    
    <script type="text/javascript"
      src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>
    <link rel="icon" type="image/png" href="<%= asset_path("airbnb-red.png") %>">

    <script type="text/javascript">
      window.livingURL = "<%= asset_path('living.jpg') %>"
    </script>

    <script type="text/javascript">
      window.libURL = "<%= asset_path('lib.jpg') %>"
    </script>

  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
