<!DOCTYPE html>
<html>
  <head>
    <title>ParadiseCity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?"%> -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAIcumDf0Sl70tPlBCtQ4Mvf_5_fvdJQ54"></script>
    <link rel="icon" type="image/png" href="<%= image_url("airbnb-red.png") %>">

    <script type="text/javascript">
      window.livingURL = "<%= image_url('living.jpg') %>"
    </script>

    <script type="text/javascript">
      window.libURL = "<%= image_url('lib.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
